/* Estilos específicos para la página de subida de archivos */
.body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.pegote{
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}


.upload-page {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ajusta según necesites */
  background: #ffffff00;
}

.file-upload-container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.file-upload-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 100%; /* Ocupa todo el ancho disponible */
  margin: 0 auto; /* Centra horizontalmente */
}

.file-upload-area.dragging {
  border-color: #00cc00;
  background-color: #e6ffe6;
}

.upload-buttons {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 10px; /* Espacio entre botones */
  margin-top: 10px; /* Espacio superior entre contenedor y botones */
}

.upload-button, .cancel-button {
  flex: 1; /* Distribuye el espacio disponible igualmente entre los botones */
  background-color: #4caf50; /* Color de fondo del botón Subir y Detectar */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Padding interior */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor tipo puntero */
  border-radius: 4px; /* Borde redondeado */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.upload-button:disabled, .cancel-button:disabled {
  background-color: #a5d6a7; /* Color de fondo para botones deshabilitados */
  cursor: not-allowed; /* Cursor no disponible */
}

.cancel-button {
  background-color: #f44336; /* Color de fondo del botón Cancelar */
}

.cancel-button:hover {
  background-color: #ef5350; /* Color de fondo al pasar el cursor sobre Cancelar */
}

.file-upload-container {
  margin-bottom: 20px; /* Espacio inferior para separar otros elementos */
}

/* Estilos para el input file */
.file-upload {
  border: 2px solid #ccc; /* Borde gris */
  padding: 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre él */
  width: 200px; /* Ancho del input */
  display: inline-block; /* Permite alinear elementos en línea */
}

/* Estilos para el texto del input file */
.file-upload-text {
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para ocultar el input file */
.file-upload[type="file"] {
  display: none;
}

.selected-files {
  margin-top: 20px;
}

.selected-files ul {
  list-style: none;
  padding: 0;
}

.detection-results {
  margin-top: 20px;
}

.detection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centra los elementos horizontalmente */
  margin: 0 auto; /* Centra el contenedor en la página */
  max-width: 1200px;
}

.detection-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  flex-basis: calc(50% - 20px); /* Ancho para 3 columnas con gap de 20px */
  max-width: calc(50% - 20px);
}
.detection-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.species-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  
  
}

.species-image {
  max-width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: block;
  position: relative;
  
}

.species-container .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.species-container::after{
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.species-container:hover img {
  filter:  
  grayscale(1)
  brightness(0.4);
}

.species-container:hover::after {
  opacity: 1;
  inset: 10px;
}

.species-label {
  background-color: rgba(255, 0, 0, 0.5); /* Adjust background color and opacity as needed */
  color: white;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  pointer-events: none;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.content h2, 
.content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content h2 {
  margin-bottom: 12px;
  scale: 0.7;
  color: #d1d1d1;
}
.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

.species-container:hover .content h2 {
  scale: 1;
  opacity: 1;
}

.species-container:hover .content p {
  opacity: 1;
  transform: translateY(0);
}

.bounding-box {
  position: absolute;
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}
.species-container:hover .bounding-box {
  border: 2px solid rgba(255, 0, 0, 0.276);
  background: rgba(255, 0, 0, 0.174);
  z-index: 1;
}


 

.progress-container {
  margin-top: 20px;
}

.file-upload-progress {
  width: 100%;
  height: 30px; /* Aumenta la altura de la barra de progreso */
}

.file-upload-progress-container {
  margin-top: 20px;
}

.detection-results-scrollable {
  max-height: 400px; /* Altura máxima para la lista de resultados */
  overflow-y: auto; /* Añadir barra de desplazamiento vertical cuando sea necesario */
}

.upload-form {
  margin-top: 20px; /* Espacio superior entre la carga de archivos y el formulario */
  text-align: center; /* Centra horizontalmente el contenido del formulario */
}

.upload-form h2 {
  text-align: center;
  
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  margin-bottom: 15px; /* Espacio inferior entre contenedores */
  width: 100%; /* Ancho completo */
}

.input-container label {
  display: block; /* Mostrar como bloque para ocupar todo el ancho disponible */
  margin-bottom: 5px; /* Espacio inferior entre etiqueta y campo de entrada */
}

.input-container input {
  width: calc(100% - 20px); /* Ancho del campo de entrada menos el padding */
  padding: 10px; /* Padding interior */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #cccccc; /* Borde gris */
  border-radius: 5px; /* Borde redondeado */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
  margin-top: 5px; /* Espacio superior */
}

.full-width {
  width: 100%; /* Ancho completo para el campo de entrada */
}
.input-container.inline {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.input-container.inline label {
  margin-right: 10px;
}

.number-input {
  display: flex;
  align-items: center;
}

.number-input button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.number-input button:hover {
  background-color: #45a049;
}

.number-input input {
  width: 100px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.number-input input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}

.image-container {
  position: relative;
  display: inline-block;
}

@media (max-width: 768px) {
 
  .content h2 {
    margin-bottom: 12px;
    scale: 0.7;
    color: #d1d1d1;
    font-size: 16px;

  }
  .content p {
    font-size: 12px;
    line-height: 1;
  }
}
