/* Menu.css */

.menu-container {
  background-color: #333;
  padding: 0px 20px;
  border-bottom: 2px solid #555;
  position: relative;
  top: 0;
  margin: 0;
  z-index: 1000;
}

.checkbtn{
  font-size: 30px;
  color: #fff;
  float: left;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}


.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  position: relative;
  margin-right: 20px;
  width: 150px;
  height: 40px;
  margin: 0;
  text-align: center;
  align-content: center;
}

.menu-item:hover{
  background-color: #444;
  
}

.menu-item.menu-item-right {
  margin-left: auto;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
  padding: 10px 0px;
  display: block;
  transition: background-color 0.3s ease;

}

.menu-link:hover {
  
  color: #66ccff;
  
}

/* Submenu estilos */
.submenu-list {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border: 1px solid #555;
  max-height: 300px; /* Altura máxima del submenu */
  overflow-y: auto; /* Scroll vertical */
  overflow-x: hidden;
  display: none;
  z-index: 1000;
}

.menu-item:hover .submenu-list {
  display: block;
}

.submenu-item {
  margin: 0;
}

.submenu-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.submenu-link:hover {
  background-color: #444;
  transform: scale(1.1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .menu-container{
    display: block;
    padding: 10px 10px;
    height: 50px;
  }
  .checkbtn{
    display: block;
  }
  .menu-list {
    position: fixed;
    width: 50%;
    flex-direction: column;
    background-color: #333;
    top: 50px;
    transition: all .5s;
    left: -100%;
  }
  .menu-item {
    margin-right: 0;
    margin-bottom: 1px;
  }
  .menu-item.menu-item-right {
    margin-left: 0;
  }
  .submenu-list{
    top: 0;
    left: 100%;
  }
  #check:checked ~ ul{
    left:0;
  }
}